LOCAL_DATABASE_URL=postgresql+psycopg://myuser:mypassword@postgres:5432/repository_intelligence
# PROD_DATABASE_URL=your deployed url

GITHUB_CLIENT_ID=Ov23li4xxxxxxxxxxxx
GITHUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#generate your own jwt token
JWT_SECRET=BW8V9OlFXwdNIl6mSgK8jc_X9QmZ9aT8wr1bSOiD5qyhQ6xg9 

LOCAL_FRONTEND_URL=http://localhost:3000
# PROD_FRONTEND_URL = your deployed url

DEPLOYMENT_TYPE=LOCAL # or PROD if deployed
